/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1600px;
}

#movie-table thead tr th:nth-child(2), #movie-table tbody tr td:nth-child(2) {
  max-width: 220px;
}

#movie-table thead tr th:nth-child(5), #movie-table tbody tr td:nth-child(5) {
  max-width: 600px;
}
